<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit-autoload.php">
  <testsuites>
    <testsuite name="myproject">
      <directory>./test</directory>
      <directory>./modules/drupal_yext_find_by_title/tests</directory>
      <directory>./modules/drupal_yext_sync_deleted/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
